@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
/* }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
/* } */
/* styles/scrollbar.css */

/* Hide the scrollbar by default */
::-webkit-scrollbar {
  width: 8px;
  z-index: 10;
}


/* Customize the track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the thumb */
::-webkit-scrollbar-thumb {
  background-color: #b6b4b4;
  border-radius: 6px;
  z-index: 10;
}

/* Hover state for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Customize the horizontal scrollbar */


/* Hide the horizontal scrollbar by default */
::-webkit-scrollbar:horizontal {
  height: 4px;
  z-index: 40 !important;
}

/* Show the horizontal scrollbar on hover */
/* Customize the thumb of the horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #a8a8a8;
  z-index: 40 !important;
  border-radius: 6px;
}

/* Hover state for the thumb of the horizontal scrollbar */
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #555;
}
